<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Hero Name</th>
    <td *matCellDef="let hero">{{hero.name}}</td>
  </ng-container>

  <ng-container matColumnDef="gamesPlayed">
    <th mat-header-cell *matHeaderCellDef>Games Played</th>
    <td *matCellDef="let hero">{{hero.gamesPlayed}}</td>
  </ng-container>

  <ng-container matColumnDef="wins">
    <th mat-header-cell *matHeaderCellDef>Wins</th>
    <td *matCellDef="let hero">{{hero.wins}}</td>
  </ng-container>

  <ng-container matColumnDef="winPercentage">
    <th mat-header-cell *matHeaderCellDef>Win Percentage</th>
    <td *matCellDef="let hero">{{(hero.wins/hero.gamesPlayed*100).toFixed(2) + "%"}}</td>
  </ng-container>

  <tr mat-header-row
    *matHeaderRowDef="['name','gamesPlayed', 'wins', 'winPercentage']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name','gamesPlayed', 'wins', 'winPercentage']"></tr>
</table>

<mat-paginator [pageSizeOptions]="[25, 50, 10]"></mat-paginator>