/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-family: Helvetica, sans-serif;
}

table {
    width: 100%;

}

tr {
    background-color: whitesmoke;
}

tr > td {
    border-bottom: 1px solid maroon;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
